.main-container{
    width: 80em;
    
}

#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    min-height: 600px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 80%;
    margin: 0 auto;
}