.info-container strong{
	font-weight: bold;
}
#textarea{
    background-color: gainsboro;
	font-family: Monospace;
	font-size: 14px;
}
.function{
    color: aqua;
}
.simple{
    color: blue;
}
.keyword{
    color: brown;
}
.value{
    color: darkorange;
}
.string{
	color: darkgreen;
}
.modifier{
    color: burlywood;
}
.numeric{
    color: darkolivegreen;
}
.operator{
    color: red;
}