#textarea{
    background-color: gainsboro;
	font-family: sans-serif;
	font-size: 12px;
}
.function{
    color: aqua;
}
.simple{
    color: blue;
}
.keyword{
    color: brown;
}
.value{
    color: darkorange;
}
.string{
	color: darkgreen;
}
.modifier{
    color: burlywood;
}
.numeric{
    color: darkolivegreen;
}
.operator{
    color: red;
}